.zg1 {
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 69px;
}

.name__tour {
    font-size: 32px;
    position: relative;
    margin-bottom: 83px;
}

.name__tour::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: var(--lightgreen);
}

.card {
    background-color: var(--darkgreen);
    max-width: 400px;
    border-radius: 15px;
}

.img {
    max-width: 400px;
    top: 0px;
    border-radius: 15px;
}

.names__tour {
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 13px;
}

.tour__info {
    max-width: 340px;
    gap: 10px;
}

.card__info {
    color: #fff;
    padding-left: 42px;
    font-size: 16px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.DP {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.prise {
    color: #fff;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 11px;
}

.days {
    color: #B2B2B2;
    font-size: 14px;
    margin-top: 11px;
    padding-right: 20px;
}

.card__btn {
    background-color: #fff;
    padding: 7px 22px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    font-size: 16px;
    gap: 16px;
}

.card__btn::br{
    background-color: var(--lightgreen);
}